body {
  background-image: url(http://www.foodnavigator.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator.com/science/big-data-exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease/9537720-1-eng-GB/Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg);
}

ul {
  text-align: center;
  color: red;
}

.checked {
  text-decoration: line-through;
}
